#knowledge.section-content

	h1.section-header Web Applications Development

	.row
		.col-md-6
			include ./frontend

		.col-md-6
			include ./backend



	.row
		.col-md-6
			include ./database

		.col-md-6
			include ./optimization



	.row
		.col-md-6
			include ./servers

		.col-md-6
			include ./design