#knowledge.section-content

  h1.section-header Web Applications Development

  .row
    .col-md-6
      include ./javascript
    .col-md-6
      include ./frontend


  .row
    .col-md-6
      include ./backend
    .col-md-6
      include ./database


  .row
    .col-md-6
      include ./optimization
    .col-md-6
      include ./servers
      //- include ./design
