.section-content.contacts

    //- h1.section-header Contact

    .row
        .col-xs-4.method
            span.nospam-email-address
                i.fa.fa-envelope
                | E-Mail

        .col-xs-4.method
            a(href="https://www.linkedin.com/in/jrushton")
                i.fa.fa-linkedin-square
                | LinkedIn

        .col-xs-4.method
            a(href="https://github.com/fooey")
                i.fa.fa-github
                | GitHub

        //- .col-xs-4.method
        //-     a(href="https://www.npmjs.com/~jrushton")
        //-         i.fa.fa-gift
        //-         | NPM