#experience.section-content

  h1.section-header Related Experience

  .row
    .col-md-6
      h2#TheLocalNetwork The Local Network
      dl
        dt When
        dd 2011-???

        dt About
        dd
          | My hobby turned company, which is focused on building niche customer reviewed local business directories (Yelp, but by niche).
          | The most successful site has been Local-Nursing-Homes.com.


        dt Duties
        dd
          | Everything.
          | I've done all site design and development, SEO optimizations, and server management.
          | Most sites involve ongoing automated mass data importation as new data is available.

    .col-md-6
      h2#Transiac Transiac
      dl
        dt When
        dd 2011

        dt About
        dd A startup based around the idea of virtualizing check processing as an alternative to credit cards. The tech worked, but we were unable to secure a financial partner to accept the transactions.

        dt Duties
        dd Generate check images to federal standards. Built out supporting systems for collecting data, submitting checks to banks, and managing customers.
  .row
    .col-md-6
      h2#iWorks iWorks
      dl
        dt When
        dd 2001-2010

        dt About
        dd Marketing company which generated nearly $300 million in sales

        dt Duties
        dd
          | Designed, built, and maintained all back office applications: CRM, Billing, Reporting, Marketing, and API's.
          | I was responsible for the vast majority of the application stack,
          | from the backend codebase, database modeling,
          | front end design and scripting,
          | report generation and automation,
          | internal API creation, documentation, and support,
          | as well as 3rd party API integration and consumption.
          | Assisted and supported server administrators.

    .col-md-6
      h2#AttitudeInk Attitude Ink
      dl
        dt When
        dd 2000-2001

        dt About
        dd Web development contracting

        dt Duties
        dd Assisted senior designers and programmers as needed. Worked with clients to determine requirements and to fulfill needs
  .row
    .col-md-6
      h2#TenneyClemons Tenney Clemons Advertising
      dl
        dt When
        dd 2000

        dt About
        dd Advertising Agency

        dt Duties
        dd Backend programming, assisted designers with tech needs
    .col-md-6
      h2#DixieCollege Dixie College
      dl
        dt When
        dd 1998-200

        dt About
        dd Visual Technologies Program

        dt Curriculum
        dd Full spectrum of <em>Visual Technology</em> related classes covering HTML, PhotoShop and Illustrator, as well as C++, 3d modeling, ShockWave and print applications

