#Knowledge.section-content

	h1.section-header Web Applications Development

	.row
		.col-md-6
			h2#BackEndBackend Programming
			p.indent
				| My first big programming project was in 2000, and was a Perl based online ordering system for a local pizza place.
				| I was later transferred to another local company who had tons of contract work they needed help with,
				| and we primarily ran ColdFusion, though some projects were done in PHP and ASP.
				| We were acquired by a local marketing company in 2001 to work exclusively on their internal projects.
			p.indent
				| By 2003 I had become the lead programmer, and the fast growing company had far outgrown their original CRM.
				| The systems we built ran virtually every aspect of the company up until it closed due to legal problems in 2010.

			ul.list-inline.tags
				li.title Technologies:
				li Node.js
				li JavaScript
				li Express
				li Async
				li Heroku
				li ColdFusion
				li MVC
				li Object Oriented
				li Java
				li MS-SQL
				li SQL Server
				li Access
				li Excel
				li URL Rewriting
				li Windows
				li IIS
				li ASP
				li PHP
				li Source Control
				li SVN
				li HG
				li Kiln

		.col-md-6
			h2#FrontEnd Front End Development
			p.indent
				| After hand crafting web sites for nearly 20 years,
				| I'm very proficient with the front end side of web applications.
				| I have obtained deep knowledge of Javascript, CSS and HTML,
				| as well the jQuery and Underscore javascript libraries and grid layout frameworks like Bootstrap.
			p.indent
				| Over the last couple years, I've put great effort into building JavaScript heavy "thin client" apps which attempt to minimize backend server rendering and calculations,
				| and instead rely on asynchronous API calls and client side template rendering

			ul.list-inline.tags
				li.title Technologies:
				li Javascript
				li jQuery
				li LoDash / Underscore
				li Async
				li API
				li JSON
				li AJAX
				li DOM
				li MVC
				li Object Oriented
				li HTML
				li HTML5
				li CSS
				li CSS3
				li Less
				li Bootstrap
				li Grid
				li Responsive


	.row
		.col-md-6
			h2#Database Database Development
			p.indent
				| I have extensive experience modeling databases for both scalability and normalization.
				| I'm very capable with querying and tuning databases and indexes, as well as mass data imports and exports.
			p.indent
				| I've built hundreds of indepth custom reports, exports, and spreadsheets for management as needs required.
		.col-md-6
			h2#WebOptimization Web Optimization
			p.indent
				| I'm experienced with optimization techniques like caching at every level of the web stack, minification of CSS and JS, as well as optimizing images for size and spriting potential.
			p.indent
				| I'm comfortable using both "seamless" CDN's like CloudFlare, as well as leveraging dedicated CDN's like Amazon's CloundFront and S3 products.

	.row
		.col-md-6
			h2#Servers Server Managment
			p.indent
				| While I've never administrated servers as a full time job, I'm very comfortable managing Windows, IIS, ColdFusion, and MS SQL Servers, and I have experience working with Heroku and EC2.
		.col-md-6
			h2#Design Web Design
			p.indent
				| I'm proficient with photoshop and have deep knowledge of the limitations and benefits of web based applications.
				| I've been using grid based CSS frameworks like Bootstrap for a long, long time now,
				| though I'm sure I still have a single pixel gif stashed away in my web resources from those good old table based layout days.

	.row
		.col-md-6
			h2#Curiosity Curiosity
			p.indent
				| I'm always on the lookout for new cutting edge technologies to take for a test drive.
				| I believe in knowing what's out there, and what kinds of projects can benefit from the different options available.

			ul.list-inline.tags
				li.title Recent Tech I've Played With:
				li Node.js
				li GoLang
				li Python
				li Angular
				li Backbone
				li Ember
				li Google App Engine
				li NoSQL/Keystore Databases

		.col-md-6