#overview.section-content

	h1.section-header Overview

	div#photo
		a(href="/img/JasonRushton.jpg")
			img.img-responsive.img-circle(src="/img/JasonRushton-squared-240.jpg")

	p.indent.
		Hello! I'm Jason Rushton, and I've been a web developer since 2000.

	p.indent.
		I absolutely love building stuff on the web, and I've been at it since the days of font tags, web safe colors, and using pixel.gif to make table based layouts work.
		The tools and techniques available today continue to make web development more and more exciting.

	p.indent.
		Web development is in an exciting place
			as the ascension of JavaScript provides amazing client side frameworks like React and Angular,
			server side JavaScript via Node and friends,
			and together, the beautiful capabilities of Isomophic JavaScript.

		Fantastic tools like
			<a href="https://www.npmjs.com/">NPM</a>,
			<a href="http://gulpjs.com/">Gulp</a>,
			<a href="http://browserify.org/">Browserify</a>,
			and <a href="http://babeljs.io/">Babel</a>
			make for an amazing ecosystem and tool chain.


	hr

	p.indent.
		I have extensive experience with nearly every level of web development:
			creating and optimizing assets in Photoshop &mdash;
			writing and optimizing HTML, CSS, JS, and many templating engines for the front end &mdash;
			writing JavaScript and CFML for the server &mdash;
			writing and tuning T-SQL queries and stored procedures &mdash;
			designing, tuning, and managing SQL databases &mdash;
			installing, adminstrating, and tuning Windows, IIS, SQL Server, ColdFusion servers.


	hr

	p.indent.
		At the local business where I worked for nearly 10 years, I started out on the design side, but quickly moved over programming where I soon became the lead developer.
		In many ways, we were ahead of our time, building and maintaining cutting edge web applications for our marketing, billing, and customer service applications way back in the early 2000s.

	p.indent.
		Our CRM, on which I was the primary architect and engineer, was an early single page app of sorts, supporting hundreds of concurrent users spread around the globe, as well as all the fulfillment and lead management systems you'd expect.
		The supporting billing system integrated with dozens of different payment systems, and hundreds of merchant accounts, handling a combined volume of over 10 million credit transactions per year.

	p.indent.
		The associated marketing platform consisted of hundreds of landing pages for lead generation and sales, and provided support for split testing and real time reporting.
		Our API allowed 3rd party affiliates to use their own servers and marketing platforms as well, and provided in depth tracking metrics with comprehensive fraud detection systems, all while handling over 40,000 new sales per week at its peak.


	//- p.indent
	//- 	| Over the years I've dealt with virtually every aspect of web development,
	//- 	| from programming the backend applications and databases along with the front end UI,
	//- 	| as well as managing the infrastructure and designing the sites themselves.
	//- p.indent
	//- 	| I truly love building stuff on the web, so I
	//- 	| <a href="http://guilds.gw2w2w.com/guilds/ArenaNet">have</a>
	//- 	| <a href="http://gw2w2w.com">interesting</a>
	//- 	| <a href="http://dyes.gw2-events.com">little</a>
	//- 	| <a href="http://local-nursing-homes.com">pet projects</a>
	//- 	| <a href="http://nosrc.net">scattered</a>
	//- 	| <a href="http://govsites.org">all over</a>
	//- 	| <a href="http://edulisting.com/">the internet</a>.

	//- 	| At the same time, I've designed, built, and maintained every aspect of serious, high performance, web applications which were required to scale to significant levels, including:
	//- 	| handling as many as 5 million database transactions per day querying against over 100 million records;
	//- 	| 10's of thousands of API calls per day going in both directions;
	//- 	| concurrently supporting hundreds of customer support agents across multiple continents within a custom built CRM;
	//- 	| and in one year alone, processing more than 10,000,000 credit card transactions.
	//- p.indent
	//- 	| While I've been programming for as long as I can remember, I've been getting paid to do it for #{moment([2000,0,1]).fromNow(true)} now.
	//- 	| I got my start in the industry when my college professor referred me to a local business needing a developer, and I've been on a roll ever since.

	//- p.indent
	//- 	| I'm looking to get out of Utah and finding a cutting edge company who's taking advantage of the rise of Node.js and front-end JS frameworks like Angular and React.\
	//- 	| For the last several years I've been enjoying running my own little business, The Local Network, but I'm excited to move on.