#overview.section-content

    h1.section-header Overview

    div#photo
        a(href="/img/JasonRushton.jpg")
            img.img-responsive.img-circle(src="/img/JasonRushton-squared-240.jpg")

    p.indent.
        Hello! I'm Jason Rushton, and I'm a web developer.

    p.indent.
        I have extensive experience with nearly every level of web development:
            using JavaScript frameworks, including React and Angular, to build front-end UI's and applications &mdash;
            building back-ends using Node and ColdFusion &mdash;
            writing and optimizing HTML, CSS, and JS &mdash;
            creating and optimizing assets in Photoshop &mdash;
            designing, tuning, and managing SQL databases &mdash;
            writing and tuning T-SQL queries and stored procedures &mdash;
            installing, adminstrating, and tuning servers including Node, Heroku, Windows, IIS, SQL Server, and ColdFusion.

    p.indent.
        I absolutely love building stuff on the web, and I've been at it since the days of font tags, web safe colors, and using pixel.gif to make table based layouts work.
        The tools and techniques available today continue to make web development more and more exciting.

    p.indent.
        Web development is in an exciting place
            as the ascension of JavaScript provides amazing client side frameworks like React and Angular,
            server side JavaScript via Node and friends,
            and together, the beautiful capabilities of Isomophic JavaScript.

        Fantastic tools like
            <a href="https://www.npmjs.com/">NPM</a>,
            <a href="http://gulpjs.com/">Gulp</a>,
            <a href="http://browserify.org/">Browserify</a>,
            and <a href="http://babeljs.io/">Babel</a>
            make for an amazing ecosystem and tool chain.