#Projects.section-content
	h1.section-header Project Highlights and Samples

	include projects/gw2-emblems
	include projects/gw2-wvw

	.row
		.col-md-12
			include projects/iworks


		.col-md-12
			include projects/gw2-dyes
			include projects/os-misc