#resume.section-content

    h1.section-header Résumé

    .row: .col-md-12

        h2: a(href="/resume/jasonrushton.resume.pdf") Download PDF
        h2: a(href="/resume/jasonrushton.resume.docx") Download Docx

        p These documents have had some personal information removed. For the full version, please contact me.