#welcome.alert.alert-info
    header
        h1 Hello World!
        h2 It's nice to meet you

        //- ul.unstyled.list-inline.navlinks
        //-     li: a(href="/#overview") Overview
        //-     li: a(href="/#contact") Contact
        //-     li: a(href="/#knowledge") Knowledge
        //-     li: a(href="/#projects") Projects
        //-     //- li: a(href="/#experience") Experience
        //-     li: a(href="/#resume")
        //-         i.fa.fa-download
        //-         |  Résumé