/node_modules
/jasonrushton.sublime-project
/jasonrushton.sublime-workspace
/Console.exe - Shortcut.lnk
/newrelic_agent.log
/public/resume/Resume - Shortcut.lnk
/public/resume/old
/public/resume/jasonrushton.resume.full.pdf
/public/resume/jasonrushton.resume.full.docx
