extends layout

block content
  #home
    include ./partials/welcome


    section: .container: .row: .col-md-12
      include ./partials/overview


    section#contact.alt: .container: .row: .col-md-12
      include ./partials/contact


    section: .container: .row: .col-md-12
      include ./partials/knowledge/index


    section.alt: .container: .row: .col-md-12
      include ./partials/contact


    section: .container: .row: .col-md-12
      include ./partials/projects/index


    section.alt: .container: .row: .col-md-12
      include ./partials/contact



    //- section: .container: .row: .col-md-12
    //-   include ./partials/experience


    //- section.alt: .container: .row: .col-md-12
    //-   include ./partials/contact