extends layout

block content
	#knowledge

		section: .container: .row: .col-md-12
			include ./partials/knowledge/index

		section#contact.alt: .container: .row: .col-md-12
			include ./partials/contact