extends layout

block content
  #overview

    section: .container: .row: .col-md-12
      include ./partials/overview

    section#contact.alt: .container: .row: .col-md-12
      include ./partials/contact