extends layout

block content
  #projects

    section: .container: .row: .col-md-12
      include ./partials/projects/index

    section#contact.alt: .container: .row: .col-md-12
      include ./partials/contact