extends layout

block content
    #resume

        section: .container: .row: .col-md-12
            include ./partials/resume

        section#contact.alt: .container: .row: .col-md-12
            include ./partials/contact