
#projects-gw2-state.project
    .row
        .col-md-8
            h2 GW2 WvW State API

            .projectDescription
                dl
                    dt Link
                    dd <a href="http://state.gw2w2w.com">state.gw2w2w.com</a>

                    dt Source
                    dd <a href="https://github.com/fooey/gw2w2w-state">github.com/fooey/gw2w2w-state</a>

                    dt What
                    dd
                        p Middleman API for Arenanet's stateless API.

                    dt Why
                    dd
                        p Spin off from <a href="#projects-gw2w2w">gw2w2w.com</a> project.

                    dt Tech
                    dd
                    dd
                        ul.inline-list
                            li API
                            li Microservce
                            li Express.js
                            li io.js

        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a(href="/img/examples/state.png")
                        img.example.img-responsive.img-rounded(src="/img/examples/state.png")
                figcaption.caption
                    //- p The main page provides a live overview of all ongoing matches.