#projects-emblems.project
    .row
        .col-md-8
            h2: a(href="http://guilds.gw2w2w.com", target="_blank")
                | GuildWars2 Guild Emblem Renderer
                i.fa.fa-external-link

            .projectDescription
                dl
                    dt Link
                    dd <a href="http://guilds.gw2w2w.com">guilds.gw2w2w.com</a>

                    dt Source
                    dd <a href="https://github.com/fooey/node-gw2guilds">github.com/fooey/node-gw2guilds</a>

                    dt What
                    dd
                        p Public service which allows consumers to easily <a href="http://guilds.gw2w2w.com/guilds/arenanet/256.svg">hotlink</a> SVG versions of the emblems of guilds in GuildWars2.
                        p The service generates over 400,000 emblems per month, with peaks reaching nearly 20,000 requests per day.
                        p Structurally, the images work like the popular placeholder image services with the goal of making it as easy as possible to use an image.
                        p You can use either the name of the guild
                        p: small: code &lt;img src="http://guilds.gw2w2w.com/guilds/${guildName}/256.svg" width=256 height=256 /&gt;
                        p Or the guild's ID used by ArenaNet's API
                        p: small: code &lt;img src="http://guilds.gw2w2w.com/${UUID}.svg" width=256 height=256 /&gt;

                    dt Why
                    dd
                        p Project was originally part of the main <a href="#projects-gw2w2w">gw2w2w.com</a>, but became spun off to be a stand alone service.

                    dt Skills &amp; Technology
                    dd
                        ul.inline-list
                            li SVG
                            li API
                            li Microservice
                            li Express.js

        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/guilds.png")
                        img.example.img-responsive.img-rounded.img-lazy(src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"></svg>', data-src="/img/examples/guilds.png")

            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/guilds.usage.png")
                        img.example.img-responsive.img-rounded.img-lazy(src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"></svg>', data-src="/img/examples/guilds.usage.png")