#projects-emblems.project
	.row
		.col-md-8
			h2 GuildWars2 Guild Emblem Renderer

			.projectDescription
				p Site: <a href="http://guilds.gw2w2w.com">guilds.gw2w2w.com</a>
				p Source Repository: <a href="https://github.com/fooey/node-gw2guilds">https://github.com/fooey/node-gw2guilds</a>
				p Spinoff microservice for gw2w2w.com using Node.js backed
				p Generates SVG emblems for the guilds of GuildsWars2
				p Community usage of the service generates 70k-100k requests per month

		.col-md-4
			figure.thumbnail
				.exampleContainer
					a(href="/img/examples/guilds.png")

						img.example.img-responsive.img-rounded(src="/img/examples/guilds.png")