
#projects-gw2w2w.project
    .row
        .col-md-8
            h2: a(href="http://gw2w2w.com") GuildWars2 WvW Tracker

            .projectDescription
                dl
                    dt Link
                    dd <a href="http://gw2w2w.com">gw2w2w.com</a>

                    dt Source
                    dd <a href="https://github.com/fooey/gw2w2w-react">github.com/fooey/gw2w2w-react</a>
                    dd <a href="https://github.com/fooey/gw2w2w-react/tree/master/public/js/src">github.com/fooey/gw2w2w-react/tree/master/public/js/src</a>

                    dt What
                    dd
                        p A React app using 3rd party API data to provide a responsive dashboard for users to view at a glance the live state of the game.
                        p The backend is a tiny Node service running Express, and relies on a few microservices spun off from this project:
                            | <a href="#projects-gw2-state">state.gw2w2w.com</a>,
                            | <a href="#projects-emblems">guilds.gw2w2w.com</a>,
                            | and <a href="#projects-piely">piely.net</a>.

                    dt Why
                    dd
                        p This is the project I like to tear apart and redo to try new things, going through 5 or 6 versions now.
                        p For the latest version, I wanted to try out React 0.13's support for ES6 classes, and to give Immutable.js a try, and on the way, I ran into Babel.js, all of which are amazing.
                        p Previous versions include Angular.js and various flavors of non-frameworked JS front ends and both ColdFusion and Node.js backends.

                    dt Tech
                    dd
                        ul.tags
                            li.title Front-End JS
                            li React.js
                            li Immutable.js
                            li ES6
                            li Page.js
                        ul.tags
                            li.title Back-End
                            li io.js
                            li Express.js
                        ul.tags
                            li.title Front-End CSS
                            li LESS
                            li Bootstrap
                            li Responsive
                        ul.tags
                            li.title Build
                            li Gulp
                            li Browserify
                            li Babel
                            li Uglify
                            li PostCSS
                            li CSS Autoprefixer

        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/gw2w2w.png")
                        img.example.img-responsive.img-rounded(src="/img/examples/gw2w2w.png")
                figcaption.caption
                    p The main page provides a live overview of all ongoing matches.


    .row
        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/gw2w2w.tracker.png")
                        img.example.img-responsive.img-rounded(src="/img/examples/gw2w2w.tracker.png")
                figcaption.caption
                    p The tracker page shows the live state of all match objectives, along with countdown timers to track progress.
        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/gw2w2w.tracker2.png")
                        img.example.img-responsive.img-rounded(src="/img/examples/gw2w2w.tracker2.png")
                figcaption.caption
                    p The tracker also provides a log of events, and details guild activities.
        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/gw2w2w.tracker.responsive.png")
                        img.example.img-responsive.img-rounded(src="/img/examples/gw2w2w.tracker.responsive.png")
                figcaption.caption
                    p All pages are responsive, and with translations for English, German, French and Spanish.