#projects.section-content
  h1.section-header Project Examples


  include gw2w2w.jade
  include iworks.jade
  include gw2-emblems.jade
  include piely.jade
  include gw2-state.jade
  include nosrc.jade
  include local-mechanics.jade



  //- #local-dialysis.project
  //-   .row
  //-     .col-md-8
  //-       h2 Local Dialysis Providers

  //-       .projectDescription
  //-         p Site: <a href="http://local-dialysis.com/">local-dialysis.com/</a>
  //-         p Source Repository: <a href="https://github.com/fooey/local-dialysis">https://github.com/fooey/local-dialysis</a>
  //-         p Ported from ColdFusion to learn and practice with Node.js, LESS, Grunt and SQLite

  //-     .col-md-4
  //-       figure.thumbnail
  //-         a(href="/img/examples/local-dialysis.sub2.png")
  //-           img.example.img-responsive.img-rounded(src="/img/examples/local-dialysis.sub2.png")
