#projects.section-content
	h1.section-header Project Highlights


	.row
		.col-md-6
			h2 Project 1
			+lipsum()

		.col-md-6
			h2 Project 2
			+lipsum()



	.row
		.col-md-6
			h2 Project 3
			+lipsum()

		.col-md-6
			h2 Project 4
			+lipsum()


mixin lipsum
	p.indent.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Nullam imperdiet ornare orci, id mollis leo consequat id.
		Cras suscipit tincidunt sapien, in luctus dolor placerat sit amet.
		Nunc lacinia, tortor vel elementum mattis, risus elit iaculis nibh, vitae tincidunt lectus tortor sed diam.
		Fusce facilisis est feugiat sem faucibus congue.