#projects.section-content
    h1.section-header Project Examples
    ul
        li: a(href="#projects-iworks") iWorks Marketing, CRM and Billing
        li: a(href="#projects-gw2w2w") Guildwars2 WvW Tracker
        li: a(href="#projects-emblems") GuildWars2 Guild Emblem Renderer
        li: a(href="#projects-piely") Piely.net
        li: a(href="#projects-gw2-state") GW2 WvW State API
        li: a(href="#projects-nosrc") NoSRC.net
        li: a(href="#projects-localmechanics") Local Mechanics


    include iworks.jade
    include gw2w2w.jade
    include gw2-emblems.jade
    include piely.jade
    include gw2-state.jade
    include nosrc.jade
    include local-mechanics.jade