#projects.section-content
  h1.section-header Project Examples


  include gw2w2w.jade
  include iworks.jade
  include gw2-emblems.jade
  include piely.jade
  include gw2-state.jade
  include nosrc.jade
  include local-mechanics.jade