#projects.section-content
	h1.section-header Project Examples


	include gw2w2w.jade
	include iworks.jade
	include gw2-emblems.jade
	include piely.jade


	#gw2-state.project
		.row
			.col-md-8
				h2 GW2 WvW State API

				.projectDescription
					p Site: <a href="http://state.gw2w2w.com">state.gw2w2w.com</a>
					p Source Repository: <a href="https://github.com/fooey/gw2w2w-state">https://github.com/fooey/gw2w2w-state</a>
					p Spin off from gw2w2w.com project.

			.col-md-4
				figure.thumbnail
					a(href="/img/examples/state.png")
						img.example.img-responsive.img-rounded(src="/img/examples/state.png")



	#local-mechanics.project
		.row
			.col-md-8
				h2 Local Mechanics

				.projectDescription
					p Site: <a href="http://www.local-mechanics.com">www.local-mechanics.com</a>
					p Source Repository: <a href="https://github.com/fooey/local-mechanics">https://github.com/fooey/local-mechanics</a>
					p An experiment with using the same templates for the backend and frontend.
					p It uses Lodash javascript templates on top of Express.js and relies on external API's rather than any "local" data

					p Serves geo data from <a href="http://geo.api.the-ln.com/">geo.api.the-ln.com</a> (<a href="https://github.com/fooey/theln-api-geo">source</a>)
						| and relays CityGrid data though <a href="http://geo.api.the-ln.com/">geo.api.the-ln.com</a> (<a href="https://github.com/fooey/theln-api-cg">source</a>)

			.col-md-4
				figure.thumbnail
					a(href="/img/examples/local-mechanics.sub.png")
						img.example.img-responsive.img-rounded(src="/img/examples/local-mechanics.sub.png")



	#nosrc.project
		.row
			.col-md-8
				h2 NoSRC.net

				.projectDescription
					p Site: <a href="http://nosrc.net">nosrc.net</a>
					p Source Repository: <a href="https://github.com/fooey/nosrc">https://github.com/fooey/nosrc</a>
					p Ported from ColdFusion in 2014 to run on Node.js and use SVG's instead of PNG
					p Public usage of the service generates 100k-125k requests per month

			.col-md-4
				figure.thumbnail
					a(href="/img/examples/nosrc.png")
						img.example.img-responsive.img-rounded(src="/img/examples/nosrc.png")



	#local-dialysis.project
		.row
			.col-md-8
				h2 Local Dialysis Providers

				.projectDescription
					p Site: <a href="http://local-dialysis.com/">local-dialysis.com/</a>
					p Source Repository: <a href="https://github.com/fooey/local-dialysis">https://github.com/fooey/local-dialysis</a>
					p Ported from ColdFusion to learn and practice with Node.js, LESS, Grunt and SQLite

			.col-md-4
				figure.thumbnail
					a(href="/img/examples/local-dialysis.sub2.png")
						img.example.img-responsive.img-rounded(src="/img/examples/local-dialysis.sub2.png")
