section#iWorksPlatform
	h2 The iWorks Platform
	dl
		dt Sales Generation
		dd 
			i.fa.fa-chevron-right
			|  Landing pages, and marketing materials with robust tracking abilities
		dd 
			i.fa.fa-chevron-right
			|  Fraud detection systems for fraudulent order attempts, as well as abusive affiliate partners
		dd 
			i.fa.fa-chevron-right
			|  Supported many different merchant account gateways
		dd 
			i.fa.fa-chevron-right
			|  Created inhouse API's to enable affiliates in sending sales data to the company
		dd 
			i.fa.fa-chevron-right
			|  Implemented outbound API's for sending sales and fulfillment information to 3rd parties
		dd 
			i.fa.fa-chevron-right
			|  Extensive, customizable, on demand reporting capabilities
		
		dt CRM &amp; Reporting
		dd 
			i.fa.fa-chevron-right
			|  Manage customer relations
		dd 
			i.fa.fa-chevron-right
			|  Unified interface for dozens of product lines
		dd 
			i.fa.fa-chevron-right
			|  Tooled to enable <abbr title="Customer Service Representative">CSR</abbr> managers to rarely need technical assistance
		dd 
			i.fa.fa-chevron-right
			|  Enable and track cancelations, refunds, and chargebacks
		dd 
			i.fa.fa-chevron-right
			|  Tiered control of access and capabilities
		dd 
			i.fa.fa-chevron-right
			|  Comprehensive dispositioning and note taking and review capabilities
		dd 
			i.fa.fa-chevron-right
			|  Extensive, customizable, on demand reporting capabilities
		
		dt Billing
		dd 
			i.fa.fa-chevron-right
			|  Automation heavy, while allowing for management to manual tune batch sizing and timing
		dd 
			i.fa.fa-chevron-right
			|  Supported a dozen different merchant processing gateways
		dd 
			i.fa.fa-chevron-right
			|  Integrated failure retrying, account cancellation, and fulfillment notification
		dd 
			i.fa.fa-chevron-right
			|  Extensive, customizable, on demand reporting capabilities
		
		dt API
		dd 
			i.fa.fa-chevron-right
			|  Designed and created API's allowing 3rd parties to submit sales information and fulfillment data to the compay
		dd 
			i.fa.fa-chevron-right
			|  Documented and supported 3rd parties integrating with the company
		dd 
			i.fa.fa-chevron-right
			|  Implemented proprietary fraud detection and prevention capabilities into the API
		dd 
			i.fa.fa-chevron-right
			|  Implemented many different merchant gateways, both realtime and batched
		dd 
			i.fa.fa-chevron-right
			|  Implemented many 3rd party fulfillment APIs, both realtime and batched