
#projects-iworks.project
    .row
        .col-md-12
            h2 iWorks Marketing, CRM and Billing

            .projectDescription
                p.indent.
                    I started out on the design side at iWorks,
                        but quickly moving over programming, where I soon became the lead developer.
                    We were ahead of the curve, successfully fielding cutting edge web applications for our marketing, billing, and customer service way back in the early 2000s.
                    I architected, designed, developed, and maintained the front-end UI, back-end applications, API integrations, reporting solutions, and databases,
                        as well as assisted with maintaining and optimizing the servers.
                    As the lead developer for a team of 5 engineers, I worked closely with all levels of management,
                        as well other engineering and design teams, to support and promote the needs and goals of the company.

                h3#projects-iworks-crm Customer Relationship Management (CRM)
                p.indent.
                    The iWorks CRM, on which I was the primary architect and developer,
                        supported hundreds of concurrent users spread around the globe,
                        as well as all the fulfillment and lead management systems you'd expect.
                    The CRM itself was an early single page application,
                        using iframes instead of today's XHR due to the limitations of the technology of the time.
                    This approach allowed us to build and maintain disparate sections of the application in isolation while inheriting state and design themes down the chain; very similar to modern SPA techniques.

                p.indent.
                    The corresponding billing system was integrated deeply with the CRM,
                        and supported with dozens of different payment gateways,
                        and hundreds of merchant accounts with load balancing functionality,
                        handling a combined volume of over 10 million credit transactions per year.

                p.indent.
                    We built out extensive reporting capabilities,
                        and management was able to deeply analyze all aspects of the business without needing constant engineering support to generate custom reports.

                h3#projects-iworks-marketing Marketing / <nobr>Lead Acquisition</nobr>
                p.indent.
                    The marketing platform consisted of hundreds of landing pages for lead generation and sales,
                        and provided support for split testing and real time reporting.
                    We were able to very rapidly both implement new designs,
                        and to iterate tweaks on existing designs as needed to optimize conversion rates.

                p.indent.
                    The system provided in depth tracking metrics with comprehensive fraud detection,
                        all while handling over 40,000 new acquisitions per week at its peak.
                    Our API allowed affiliates to host marketing materials their own servers and marketing platforms as well.

                ul.tags
                    li.title Primary Skills
                    li ColdFusion
                    li JavaScript
                    li CSS
                    li HTML
                    li SQL Server
                    li Single Page Applications
                    li API Generation
                    li API Consumption
                    li Backend Application Architecture
                    li Database Architecture

                ul.tags
                    li.title Domain Knowledge
                    li CRM
                    li Billing
                    li Reporting
                    li Lead Generation
                    li Merchant Accounts
                    li Credit Card Processing
                    li Fraud Detection
                    li PCI Compliance
                    li CAN SPAM
                    li E-Mail Marketing
                    li Affiliate Marketing

                ul.tags
                    li.title Additional Skills
                    li Photoshop
                    li jQuery
                    li Server Administration
                    li SQL Server Administration
                    li IIS
                    li Split Testing
                    li A/B Testing
                    li Data Import/Export
                    li JVM Tuning
                    li Client Integration Support
                    li Database Optimization
                    li Query Tuning


