
#projects-iworks.project
    .row
        .col-md-12
            h2 iWorks Marketing, CRM and Billing

            .projectDescription
                p.indent.
                    I worked at at local company named iWorks for nearly 10 years, starting out on the design side, but quickly moving over programming where I soon became the lead developer.
                    In many ways, we were ahead of our time, building and maintaining cutting edge web applications for our marketing, billing, and customer service applications way back in the early 2000s.
                    I designed and maintained the front-end UI, back-end systems, and databases, and assisted with maintaining and optimizing the servers.
                    I was the lead on a team of 5 engineers, and worked closely with all levels of management, as well other engineering and design teams, to support and promote the needs and goals of the company.

                h3#projects-iworks-marketing Marketing / <nobr>Lead Acquisition</nobr>
                p.indent.
                    The marketing platform consisted of hundreds of landing pages for lead generation and sales, and provided support for split testing and real time reporting.
                    We were able to very rapidly both implement new designs, and to iterate tweaks on existing designs as needed to optimize conversion rates.
                p.indent.
                    The system provided in depth tracking metrics with comprehensive fraud detection, all while handling over 40,000 new acquisitions per week at its peak.
                    Our API allowed affiliates to host marketing materials their own servers and marketing platforms as well.

                h3#projects-iworks-crm Customer Relationship Management (CRM)
                p.indent.
                    The iWorks CRM, on which I was the primary architect and engineer,
                        was an early single page app of sorts, supporting hundreds of concurrent users spread around the globe,
                        as well as all the fulfillment and lead management systems you'd expect.
                    Structurally, the UI was a nested series of scalable iFrames.
                    This allowed us to build and maintain sections and individual pages in isolation while inheriting state and design themes down the chain;
                        not so different from modern XHR techniques.
                p.indent.
                    The supporting billing system was integreted deeply with the CRM,
                        and supported with dozens of different payment gateways,
                        and hundreds of merchant accounts with load balancing functionality,
                        handling a combined volume of over 10 million credit transactions per year.
                p.indent.
                    We built out extensive reporting capabilities,
                        and management was able to deeply analyize all aspects of the business without needing constant engineering support to generate custom reports.


