
#projects-localmechanics.project
  .row
    .col-md-8
      h2 Local Mechanics

      .projectDescription
        dl
          dt Link
          dd <a href="http://www.local-mechanics.com">www.local-mechanics.com</a>

          dt Source
          dd <a href="https://github.com/fooey/local-mechanics">github.com/fooey/local-mechanics</a>

          dt Why
          dd
            p An experiment with sharing templates and logic across both the back-end and front-end.
            p It uses Lodash javascript templates with Express.js for the server, and Page.js for the client.

            p Serves geo data from <a href="http://geo.api.the-ln.com/">geo.api.the-ln.com</a> (<a href="https://github.com/fooey/theln-api-geo">source</a>)
              | and relays CityGrid data though <a href="http://geo.api.the-ln.com/">geo.api.the-ln.com</a> (<a href="https://github.com/fooey/theln-api-cg">source</a>)

          dt Tech
          dd
          dd
            ul.inline-list
              li Express.js
              li Node.js
              li Lodash Templates
              li Isomorphic (Home Brew)

    .col-md-4
      //- figure.thumbnail
      //-   .exampleContainer
      //-     a(href="/img/examples/nosrc.png")
      //-       img.example.img-responsive.img-rounded(src="/img/examples/nosrc.png")

      figure.thumbnail
        .exampleContainer
          a(href="/img/examples/local-mechanics.sub.png")
            img.example.img-responsive.img-rounded(src="/img/examples/local-mechanics.sub.png")