
#projects-nosrc.project
    .row
        .col-md-8
            h2: a(href="http://nosrc.net", target="_blank")
                | NoSRC.net
                i.fa.fa-external-link

            .projectDescription
                dl
                    dt Link
                    dd <a href="http://nosrc.net">nosrc.net</a>

                    dt Source
                    dd <a href="https://github.com/fooey/nosrc">github.com/fooey/nosrc</a>

                    dt What
                    dd
                        p Placeholder image service.
                        p: small Example: <code>&lt;img src="http://nosrc.net/500x100"&gt;</code>
                        p Public usage of the service generates 100k-125k requests per month

                    dt Why
                    dd
                        p Ported from ColdFusion in 2014 to run on Node.js and use SVG's instead of PNG as a project to learn Node

                    dt Tech
                    dd
                    dd
                        ul.inline-list
                            li SVG
                            li: abbr(title="SVG Optimizer") SVGO
                            li Express.js
                            li io.js

        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/nosrc.usage.png")
                        img.example.img-responsive.img-rounded.img-lazy(src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"></svg>', data-src="/img/examples/nosrc.usage.png")

            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="http://nosrc.net/500x100")
                        img.example.img-responsive.img-rounded.img-lazy(src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"></svg>', data-src="http://nosrc.net/500x100")
                figcaption.caption
                    p: code &lt;img src="http://nosrc.net/500x100"&gt;