
section#source
	h2 Open Source Projects
	p.indent Here are some of the code repositories for the projects I've published as open source
	
	dl
		dt GW2 Guild Emblems
		dd: a(href="https://github.com/fooey/node-gw2guilds") https://github.com/fooey/node-gw2guilds
		dd.indent <a href="http://dev.jasonrushton.com/#gw2guilds">As described previously</a>, this calls an API and generates SVG images from the data

		dt node-gw2api
		dd: a(href="https://github.com/fooey/node-gw2api") https://github.com/fooey/node-gw2api
		dd.indent I spun this off as a standalone <a href="https://npmjs.org/package/gw2api">NPM module</a> to make it more easily shared by my different projects, and to let anyone else interested use it as well

		dt gw2w2w-ws
		dd: a(href="https://github.com/fooey/gw2w2w-ws") https://github.com/fooey/gw2w2w-ws
		dd.indent A work in progress "upgrade" for my existing <a href="http://gw2w2w.com">gw2w2w.com</a> site as an excuse for playing around with some technologies
		dd.indent The original site is totally client side, polling API's directly to discover changes, and the goal with the new version to manage state on the server and to push changes to subscribed clients view WebSockets