
#projects-piely.project
    .row
        .col-md-8
            h2 Piely.net

            .projectDescription
                dl
                    dt Link
                    dd <a href="http://www.piely.net">www.piely.net</a>

                    dt Source
                    dd <a href="https://github.com/fooey/piely">github.com/fooey/piely</a>

                    dt What
                    dd
                        p Microservice for generating SVG pie charts using simple in url configuration

                    dt Why
                    dd
                        p Spin off from <a href="#projects-gw2w2w">gw2w2w.com</a> project.
                        p Front-end "builder" originally created in Angular, but ported to React for the experience

                    dt Tech
                    dd
                    dd
                        ul.inline-list
                            li SVG
                            li: abbr(title="SVG Optimizer") SVGO
                            li React
                            li API
                            li Microservce
                            li Express.js

        .col-md-4
            figure.thumbnail
                .exampleContainer
                    a.lightboxed(href="/img/examples/piely.png")
                        img.example.img-responsive.img-rounded(src="/img/examples/piely.png")
                figcaption.caption
                    //- p The main page provides a live overview of all ongoing matches.