.script(){
    font-family: 'Poiret One';
    font-weight: 400;
}


/*
* Lists
*/

.comma-list {
    li {
        list-style: none;
        white-space: nowrap;
        margin: 0 0 0 .5em;
        padding: 0;
        display: inline-block;

        &:after {
            content: ",";
        }
        &:last-child {
            &:after {
                content: "";
            }
        }
    }
}

.listify(@titleWidth) {
    padding: 0 0 0 @titleWidth;
    margin: 0 .6em .4em;
    list-style: none;

    .comma-list();

    li.title {
        margin-left: -@titleWidth;
        width: @titleWidth;
        text-align: right;
        font-family: 'Roboto Condensed';
        font-weight: 700;

        &:after {
            content: "";
        }
    }
}

.inline-list {
    padding: 0;
    margin: 0;
    list-style: none;

    .comma-list();
}