@import "./theme.navbar.less";



body {
	// padding-top: 60px;
	// padding-bottom: 60px;
	background-color: @gray-lighter;
}



h1, h2, h3, h4, h5, h6, dt, label {
	font-family: 'Roboto Condensed';
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}


.indent {
	text-indent: 2em;
}



// based on GitHub
.target {
	@target-icon-width: 1.2em;

	position: relative;
	a {
		position: absolute;
		display: block;
		left: 0;
		// border: 1px solid red;
		line-height: 80%;


		i.fa {
			font-size: 50%;
			font-weight: 400;

			opacity: 0;
			transition: opacity 150ms ease-in;

			display: inline-block;
			vertical-align: middle;
			padding-right: @target-icon-width/3;
			margin-left: -@target-icon-width;

			&:before {
				content: '\f0c1 ';
			}
		}

	}

	&:hover a,
	a:hover {
		i.fa {
			opacity: 1;
		}
	}
}