@import "./theme.navbar.less";



body {
	padding-top: 60px;
	// padding-bottom: 60px;
	background-color: @gray-lighter;
}



h1, h2, h3, h4, h5, h6, dt, label {
	font-family: 'Roboto Condensed';
	font-weight: 300;
}


.indent {
	text-indent: 2em;
}