.--app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 1rem;

  font-size: 1rem;
}

.--app-logo {
  height: 40vmin;
  pointer-events: none;
}

.--app-link {
  color: #fff;
}

.--app-main {
  padding: 1rem;
}
